h1 {
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg);
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.brush {
    background-color: mediumspringgreen;
}

.price {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}

.frame {
    background-color: lightcoral;
}

.paint {
    background-color: skyblue;
}